streamlit>=1.34
yfinance>=0.2.40
pandas>=2.2
numpy>=1.26
matplotlib>=3.8
seaborn>=0.13
xlsxwriter>=3.2
plotly>=5.22
kaleido>=0.2.1        # export Plotly->PNG (même si tu as un fallback Matplotlib)
reportlab>=3.6
requests>=2.32          # NEW (CoinGecko)
pillow>=10.3            # NEW (logo PDF, ratio)
python-docx==0.8.11
# Assure des wheels compatibles pour Py3.12+
lxml>=5.1.0
scipy>=1.10
pandas-datareader>=0.10
